<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="validation" type="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationSettings, Microsoft.Practices.EnterpriseLibrary.Validation" requirePermission="true" />
    <section name="RetryPolicyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.TransientFaultHandling.Configuration.RetryPolicyConfigurationSettings, Microsoft.Practices.EnterpriseLibrary.TransientFaultHandling.Configuration" requirePermission="true" />
    <section name="policyInjection" type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.Configuration.PolicyInjectionSettings, Microsoft.Practices.EnterpriseLibrary.PolicyInjection" requirePermission="true" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" requirePermission="true" />
  </configSections>

  <validation />
  
  <RetryPolicyConfiguration defaultRetryStrategy="ExponentialIntervalDefault">
    <exponentialBackoff name="ExponentialIntervalDefault" maxRetryCount="5"
      minBackoff="00:00:01" maxBackoff="00:01:00" deltaBackoff="00:00:05" />
  </RetryPolicyConfiguration>

  <policyInjection/>
  <!--<policyInjection>
    <policies>
      <add name="save">
        <matchingRules>
          <add type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.MatchingRules.MemberNameMatchingRule, Microsoft.Practices.EnterpriseLibrary.PolicyInjection"
               name="Member Name Matching Rule">
            <matches>
              <add match="Save*" ignoreCase="false" />
            </matches>
          </add>
          <add type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.MatchingRules.TypeMatchingRule, Microsoft.Practices.EnterpriseLibrary.PolicyInjection"
               name="Type Matching Rule">
            <matches>
              <add match="Zero.BLL.Managers.UserManager, Zero.BLL.Managers" ignoreCase="false" />
            </matches>
          </add>
        </matchingRules>
        <handlers>
          <add type="Nega.Entlib.TransactionCallHandler, Nega.Entlib" name="Transaction Call Handler"></add>
        </handlers>
      </add>
      <add name="update">
        <matchingRules>
          <add type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.MatchingRules.MemberNameMatchingRule, Microsoft.Practices.EnterpriseLibrary.PolicyInjection"
               name="Member Name Matching Rule">
            <matches>
              <add match="Update*" ignoreCase="false" />
            </matches>
          </add>
          <add type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.MatchingRules.TypeMatchingRule, Microsoft.Practices.EnterpriseLibrary.PolicyInjection"
               name="Type Matching Rule">
            <matches>
              <add match="Zero.BLL.Managers.UserManager, Zero.BLL.Managers" ignoreCase="false" />
            </matches>
          </add>
        </matchingRules>
        <handlers>
          <add type="Nega.Entlib.TransactionCallHandler, Nega.Entlib" name="Transaction Call Handler"></add>
        </handlers>
      </add>
    </policies>
  </policyInjection>-->
  
  <exceptionHandling />
  
</configuration>
